.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.heading-left {
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 600px;
}

.heading-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}

.contentinput {
    background: #f8e8e8;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 332px;
    height: 32px;
    border-radius: 5px;
}


/* Phan Body */

.textmenu {
    display: flex;
    margin-top: 75px;
    padding-left: 120px;
}

.contentbody {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenbody-2 {
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin-right: 223px;
    align-items: center;
}


/* khung hinh */

.box-img {
    display: flex;
    padding-left: 120px;
    width: 2000px
}

.phagragap {
    display: flex;
    width: 782px;
    padding-left: 120px;
}

.texticon-left {
    display: flex;
}

.texticon-right {
    display: flex;
    width: 100px;
}

.texticon {
    display: flex;
    justify-content: space-around;
    width: 200px;
}